<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>BBN Holding - Official Home Page</title>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="keywords" content="BBN Holding, BBN, BBN Technologies, Hadder, Hax, Skidder, Discord, JDA, Java Bot, Discord Bot, Java Discord Bot, Project Space Hunter, PSH" />
    <meta name="description" content="BBN Holding is a major company with interests in almost every business area." />
    <meta name="subject" content="BBN Holding">
    <meta name="copyright" content="BBN Holding">
    <meta name="language" content="EN">
    <meta name="revised" content="Wednesday, May 6th, 2021, 1:30 pm" /> <!-- SWITCH TO Webpack generated date-->
    <meta name="classification" content="Business">
    <meta name="reply-to" content="support@bbn.one">
    <meta name="owner" content="BBN Holding">
    <meta name="url" content="https://bbn.one">
    <meta name="identifier-URL" content="https://bbn.one">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">

    <meta property="og:title" content="BBN Holding">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://bbn.one/images/avatar.png"> <!-- no absoule path switch to webpack -->
    <meta property="og:url" content="https://bbn.one" />
    <meta property="og:description" content="BBN Holding is a major company with interests in almost every business area." />
    <meta property="og:locale" content="en_US">
    <meta property="og:email" content="support@bbn.one" />
    <meta property="og:locality" content="San Francisco" />
    <meta property="og:region" content="CA" />
    <meta property="og:country-name" content="USA" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BBN_Holding">
    <meta name="twitter:title" content="BBN Holding">
    <meta name="twitter:image" content="https://bbn.one/images/avatar.png"> <!-- no absoule path switch to webpack -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='theme-color' content='#f55a00' />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Corporation",
            "name": "BBN Holding",
            "alternateName": "BBN",
            "url": "https://bbn.one",
            "logo": "https://bbn.one/images/avatar.png",
            "sameAs": [
                "https://www.linkedin.com/company/bbn-holding",
                "https://www.youtube.com/channel/UC4D6McQ88hv872BqbAoomkw",
                "https://twitter.com/BBN_Holding",
                "https://www.facebook.com/bbn.holding",
                "https://github.com/bbn-holding",
                "https://www.wikidata.org/wiki/Q73471319"
            ]
        }
    </script>
</head>

<body>

    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f85a829cdd884954950b360b37c03017"}'></script>
</body>

</html>