<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1Y55KWERPQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1Y55KWERPQ');
    </script>
    <title>BigBotNetwork</title>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="keywords" content="BBN, BigBotNetwork, BBN Technologies, Hadder, 6775, GottBot, Hax, Skidder, Discord, JDA, Java Bot, Discord Bot, Java Discord Bot, Project Space Hunter, PSH, Game Diss Track Vol.1, Peter Grosswanz, lucsoft" />
    <meta name="description" content="BBN is a major company with interests in almost every business area." />
    <meta name="subject" content="BBN">
    <meta name="copyright" content="BBN">
    <meta name="language" content="EN">
    <meta name="revised" content="Wednesday, February 24rd, 2021, 22:30 pm" /> <!-- SWITCH TO Webpack generated date-->
    <meta name="Classification" content="Business">
    <meta name="reply-to" content="abuse@bbn.one">
    <meta name="owner" content="BBN">
    <meta name="author" content="GregTCLTK, Skidder@bbn.one">
    <meta name="url" content="https://bbn.one">
    <meta name="identifier-URL" content="https://bbn.one">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">

    <meta property="og:title" content="BigBotNetwork">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://bbn.one/images/avatar.png">
    <meta property="og:url" content="https://bbn.one" />
    <meta property="og:description" content="BBN is a major company with interests in almost every business area." />
    <meta property="og:locale" content="en_US">
    <meta property="og:email" content="abuse@bbn.one" />
    <meta property="og:locality" content="San Francisco" />
    <meta property="og:region" content="CA" />
    <meta property="og:country-name" content="USA" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BigBotNetwork">
    <meta name="twitter:title" content="BigBotNetwork">
    <meta name="twitter:image" content="https://bbn.one/images/avatar.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='theme-color' content='#f55a00' />

    <link href="assets/img/favicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="assets/img/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />
    <link href="assets/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="assets/img/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="assets/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    <link href="assets/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="assets/img/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" />
    <link href="assets/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="assets/img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Corporation",
            "name": "BigBotNetwork",
            "alternateName": "BBN",
            "url": "https://bbn.one",
            "logo": "https://bbn.one/images/avatar.png",
            "sameAs": [
                "https://www.linkedin.com/company/bbn0",
                "https://www.youtube.com/channel/UC4D6McQ88hv872BqbAoomkw",
                "https://twitter.com/BigBotNetwork",
                "https://www.facebook.com/bigbotnetwork",
                "https://github.com/BigBotNetwork"
            ]
        }
    </script>
</head>

<body>

</body>

</html>