<html lang="en">

<head>
    <title>BBN - Terms of Use</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<div>
    <h2><strong>Terms of Use</strong></h2>
    <h3><span><strong>Limited License</strong></span></h3>
    <p><span>Subject to the terms and conditions set forth herein and all applicable local laws and regulations,BBN Holding grants you a non-exclusive, non-transferable, personal, limited right to access, use and display this website and its contents. This licenses is not a transfer of title to the site and materials contained herein, and is subject to the following restrictions: (1) you must retain, on all copies of the site and its contents, all copyright and other proprietary notices; and (2) you may not modify the site or its contents in any way or reproduce or publicly display, perform or distribute or otherwise use the site and its contents for any public or commercial purpose, except as otherwise specifically permitted herein.</span>
    </p>
    <h3><span><strong>Disclaimer</strong></span></h3>
    <p><span>The information presented on this website is for informational purposes only. BBN Holding makes this site and its contents available on an “as is” basis and makes no representations or warranties of any kind with respect to this site or its contents. BBN Holding disclaims all such representations and warranties, whether express or implied, including, but not limited to, the warranties of merchantability and fitness for a particular purpose. In addition, BBN Holding does not represent or warrant that the information accessible via this site is accurate, complete or current.</span>
    </p>
    <h3><span><strong>Changes</strong></span></h3>
    <p><span>All content contained herein is subject to change without notice. BBN Holding reserves the right to change or modify the terms and conditions applicable to the use of this site at any time. Such changes, modifications, additions or deletions to the terms and conditions of use shall be effective immediately upon notice thereof, which may be given by any means including, but not limited to, posting new terms and conditions on the site. Any use of the site after such change or modification shall be deemed to constitute acceptance by you of such changes, modifications, additions or deletions.</span>
    </p>
    <p><span>BBN Holding may terminate, change, suspend or discontinue any aspect of the site, including the availability of any features of the site, at any time. BBN Holding may also impose limits on certain features and services or restrict your access to parts of the site without notice or liability.</span>
    </p>
    <h3><span><strong>Hyperlinks</strong></span></h3>
    <p><span>Certain links provided on this site will launch Internet sites that are not under the control of BBN Holding. BBN Holding provides these outside links solely as a convenience to its users, and the provision of any such link is not an endorsement by BBN Holding of that site or any of the contents, products or services contained or offered therein. Accordingly, BBN Holding makes no representations or warranties whatsoever concerning availability of or content, including sub-links, found on those sites.</span>
    </p>
    <p><span>If you order, purchase, or otherwise gain access to products, services or information from any party which is linked to this site, you&nbsp;&nbsp;may be entering into an agreement with that third party, and your access to such third party site is subject to such third party site’s terms of use and BBN Holding’s. In these cases, you should review and understand the terms and conditions posted by such third party and its privacy policy before you register, order or purchase. Except to the extent specifically stated herein, the privacy policy and terms of use stated by BBN Holding herein will not apply. BBN Holding is committed to linking with companies that share our privacy concerns. However, we cannot and do not control the way these parties use or collect information or operate their businesses.</span>
    </p>
    <p><span>When you link to another party’s site, you should be aware that those sites may use cookies or other means to collect information about you. In this case, the third party’s site’s terms of use will apply, not the BBN Holding.one privacy policy and terms.</span>
    </p>
    <h3><span><strong>Submissions</strong></span></h3>
    <p><span>By submitting information and material to BBN Holding, whether via email or otherwise, including, but not limited to, feedback, questions, comments, suggestions, ideas, graphics or computer files of any type, you thereby expressly warrant that the owner of such material has expressly granted BBN Holding a royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and to incorporate it in other works in any form, media or technology now known or hereafter developed, subject to the BBN Holding.one Statement of User Privacy.</span>
    </p>
    <h3><span><strong>Limitation Of Liability</strong></span></h3>
    <p><span>Neither BBN Holding nor any of its subsidiaries, employees or other representatives shall be liable for damages arising out of or in connection with the use of this site. Under no circumstances shall BBN Holding have any liability for any consequential, incidental, indirect, special or punitive damages or costs, including, but not limited to, lost profits, business interruption, loss of information or data, or loss of goodwill, loss of or damage to property, and any claims of third parties, arising out of or in connection with the use, copying or display of this site or its contents or any linked website, regardless of whether BBN Holding has been advised, knew or should have known of the possibility thereof.</span>
    </p>
    <h3><span><strong>International Users And Jurisdiction</strong></span></h3>
    <p><span>This site is maintained and controlled by BBN Holding in the State of California, United States of America. BBN Holding makes no representation that materials on this site are appropriate or available for use at other locations outside of the United States and access to this site from territories where this site’s contents are illegal is prohibited. If you access this site from locations outside the United States, you are responsible for compliance with all local laws. The laws of the State of California shall govern the content and use of this site, without giving effect to any of the conflict of law principles or rules thereof.</span>
    </p>
    <h3><span><strong>Copyright And Trademark</strong></span></h3>
    <p><span>All content on this site, including but not limited to designs, text, graphics, images, video and audio content, interfaces, code and software, and the selection and arrangement of such content, is the property of BBN Holding, its affiliates and licensors, and is protected globally by copyright, trademark and other applicable laws. Copyright ©2018-2021 BBN Holding. All rights reserved.</span>
    </p>
    <p>&nbsp;</p>
</div>
</body>

</html>
