.file-dialog-shell {
    width: calc(100vw - 3rem);
    height: calc(100vh - 15rem);
    display: grid;
    grid-template: 100% / 100%;
    max-width: 80rem;
}

.file-is-downloading {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    margin: 0 0 12px;
}