.footer-background {
    background: var(--background-card);
    padding: 0 1rem;
}

.footer {
    max-width: 69rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--on-card-text);
}

.footer div:nth-child(1) img {
    display: block;
    margin-bottom: 2rem;
    width: 8rem;
}

@media (prefers-color-scheme: light) {
    .footer div:nth-child(1) img {
        filter: invert(1);
    }
}

.footer div:nth-child(2) span:nth-child(1),
.footer div:nth-child(3) span:nth-child(1) {
    display: block;
    font-weight: 400;
    font-size: 1.2rem;

    margin-bottom: 2rem;
}

.footer div:nth-child(2) a::before {
    content: '>';
    font-size: .7rem;
    transform: translate(0, -2px);
    display: inline-block;
    padding-right: 0.5rem;
}

.footer div:nth-child(3) span:nth-child(2) {
    display: block;
    margin-bottom: 0.5rem;
}

.footer div:nth-child(2) a {
    display: block;
    color: var(--on-card-text);
    text-decoration: none;
    transition: color 100ms ease;
}

.footer div:nth-child(2) a:hover {
    color: #45669e;
}

@media(max-width:700px) {
    .footer {
        margin: 3rem auto 0;
        padding: 2rem 0;
        gap: 1rem;
        font-size: .8rem;
    }

    article.footer>div:nth-child(1)>img {
        margin: 0.3rem 0 1.2rem 0;
        height: 14px;
    }

    .footer div:nth-child(2) span:nth-child(1),
    .footer div:nth-child(3) span:nth-child(1) {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:440px) {
    .footer {
        grid-template-columns: 1fr;
    }
}