nav {
    color: white;
    font-weight: 500;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    padding: 0 1rem;
    user-select: none;
}

.login-button {
    border-radius: 10px;
    padding: 0 1.2rem 0.01rem;
    height: 2rem;
}

nav.settings {
    background: black;
}

nav.home {
    position: fixed;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

nav.music {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

[data-theme="light"] nav.home {
    color: black;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 100%);

}

[data-theme="light"] nav.home .clickable img {
    filter: invert();
}

nav.hosting {
    background: linear-gradient(184.32deg, #28A9F1 -11.55%, #5495E1 86.12%);
}

nav.admin {
    background: linear-gradient(166deg, #bb2727 6.59%, #b91616 101.73%);
}

nav>div {
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.profile-button {
    padding: 0 10px 0 4px;
    border-radius: 12px;
}

.email-banner {
    background: #120000;
    padding: 0.6rem 0.8rem;
    border-radius: .9rem;
    color: red;
    font-weight: bold;
    letter-spacing: .5px;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.email-banner .label .title {
    font-size: 1rem;
}

.email-banner a {
    padding: 0.1rem 0.4rem;
}

.drop-over {
    color: white;
    background: #212121;
    border-radius: 0.3rem;
    padding: .4rem .8rem;
    outline: none;
}

.drop-over .title {
    font-size: 0.7rem;
    font-weight: 900;
    opacity: .8;
}

.drop-over img {
    height: 1.7rem;
}

.drop-over .small-entry {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: .1rem 0;
}

.drop-over .small-entry:hover {
    opacity: 0.8;
}

.drop-over .small-entry .wicon {
    font-size: 0.9rem;
    margin-left: 2rem;

}

.drop-over .small-entry.settings {
    margin-top: .8rem;
    font-size: 0.9rem;
}

.clickable {
    cursor: pointer;
}