nav {
    color: white;
    font-weight: 500;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 0 1rem;
    user-select: none;
}

.login-button {
    border-radius: 12px;
    padding: 0 1.3rem 0.01rem;
    height: 2rem;
}

nav.settings {
    background: black;
}

nav.home {
    position: fixed;
    backdrop-filter: blur(3px);
}

[data-theme="light"] nav.home {
    color: black;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 100%);

}

[data-theme="light"] nav.home .vertical-stack>img {
    filter: invert();
}

.wbutton.grayscaled.inline,
.wbutton.grayscaled.secondary {
    color: inherit;
}

nav.music {
    background: linear-gradient(166deg, #F19D2D 6.59%, #DB5721 101.73%);
}

nav.hosting {
    background: linear-gradient(184.32deg, #28A9F1 -11.55%, #5495E1 86.12%);
}

nav.admin {
    background: linear-gradient(166deg, #bb2727 6.59%, #b91616 101.73%);
}

@media (max-width: 800px) {
    nav.music {
        background: linear-gradient(166deg, #F19D2D 6.59%, #db7621 101.73%);
    }
}

nav>div {
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.profile-picture {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border-radius: 9px;

    font-weight: 800;
    overflow: hidden;
}

.profile-button {
    padding: 0 10px 0 4px;
    border-radius: 12px;
}

.profile-picture img {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

nav img {
    height: 1.7rem;
}

nav.email-banner {
    top: 0;
    background: black !important;
    padding: .5rem 1rem;
}

nav.email-banner a {
    padding: 0.1rem 0.4rem;
}

.drop-over {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    z-index: 2;
    background: #212121;
    border-radius: 0.3rem;
    padding: .4rem .8rem;
    transform: scale(0.5) translate(-30%, -300%);
    opacity: 0.1;
    width: 100%;
    max-width: 15rem;
    transition: opacity 100ms ease;
    outline: none;
}

.drop-over:focus,
.drop-over:focus-within,
.drop-over.open {
    opacity: 1;
    display: block;
    transform: scale(1) translate(0, 0);
}

.drop-over .title {
    font-size: 0.7rem;
    font-weight: 900;
    opacity: .8;
}

.drop-over img {
    height: 1.7rem;
}

.drop-over .small-entry {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: .1rem 0;
}

.drop-over .small-entry:hover {
    opacity: 0.8;
}

.drop-over .small-entry .wicon {
    font-size: 0.9rem;
    margin-left: 2rem;

}

.drop-over .small-entry.settings {
    margin-top: .8rem;
    font-size: 0.9rem;
}

.clickable {
    cursor: pointer;
}