.inverted-class .wgtable {
    max-height: 25rem;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    gap: 8px;
    background: white;
    color: black;
    padding: 0 16px;
    border-radius: 8px;
    --color-grayscaled-lightness: 0%;
    --color-grayscaled-font: white;
    --color-grayscaled-inline-font: black;
}

.inverted-class :not(.artists-list)>.grayscaled.wiconbutton {
    color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    background: transparent;
}

.artist-table .wgtable {
    gap: 12px;
    margin: 12px 0;
}

.artist-table .wgtable .column {
    gap: 12px;
}

.wdropdown.low-level>button {
    height: 24px;
    background: transparent;
    color: rgb(32, 32, 32);
}