:root {
    --color-colored-hue: 31deg !important;
}

[data-theme=dark] {
    --background-color: #000;
}

.background-image {
    position: absolute;
    inset: -0.5rem;
    --image: url('../holding/resources/background.jpg');
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, #000 77.08%, #000 100%),
        var(--image) no-repeat center center;
    background-size: cover;
    filter: blur(4.5px);
    z-index: -1;
}


[data-theme=light] .background-image {
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, #FFF 77.08%, #FFF 100%),
        var(--image) no-repeat center center;
    background-size: cover;
}

.auth-area {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.line-header {
    line-height: 94px;
}

.prefix-logo {
    position: absolute;
    left: .7rem;
    width: 1.2rem;
}

.loader.loading {
    width: 100%;
    height: 7rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: -1rem;
}

.header {
    max-width: 21rem;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff !important;
    }
}