:root {
    --bbn-secondary: hsl(201, 88%, 55%);
}

.wtags .wbutton {
    --background-color-h: 201 !important;
    --background-color-s: 88% !important;
    --background-color-l: 55% !important;
}

.gray-color {
    color: rgba(255, 255, 255, 0.8);
}

.center-content {
    justify-content: center;
}

.wizard-colors {
    --color-grayscaled-hue: 0deg;
    --color-grayscaled-saturation: 0%;
    --color-grayscaled-lightness: 10%;
    --color-grayscaled-font: white;
}