:root {
    --font: 'open sans';
    --main-color: #37517e;
    --bbn-primary: #37517e;
    --bbn-secondary: hsla(31, 100%, 66%, 1);
}

body {
    color: var(--on-background-text);
}

body {
    font-family: 'open sans';
}

card.modern .title {
    white-space: normal;
    font-size: 2rem;
}

cardlist {
    margin: 0;
    max-width: none;
}

h2 {
    color: var(--main-color);
    margin-bottom: 20px;
    padding: 120px 0 20px;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    text-shadow: none !important;
}

h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

h4 {
    color: #444;
    font-size: 1.04rem;
    font-weight: 500;
    margin: 0;
}

@media(max-width:360px) {
    h2 {
        margin-bottom: .5rem;
        padding: 3rem 0 .8rem;
        font-size: 24px;
    }

    h4 {
        font-size: .9rem;

    }
}

a.action {
    color: var(--main-color);
    padding: .5rem 0.65rem;
    line-height: 1;
    margin-right: 0.3rem;
    border-radius: 100rem;
    display: inline-block;
    background-color: var(--background-color);
    transition: background-color 150ms ease, color 150ms ease;
}

a.action:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f3f5fa !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #4973bd;
    }
}

card.modern .title {
    font-size: 1.5rem;
}

card.modern span.description {
    font-size: 1rem;
}

cardlist {
    padding: 0 1rem;
}

.services,
.scoped-size {
    margin: 0 auto;
    max-width: 69rem;
}

.link {
    cursor: pointer;
    margin: 0.1rem 0 0 0.2rem;
    padding: 0 .2rem;
    height: 20px;
}

.limited-width {
    max-width: 69rem;
    width: calc(100% - 2rem);
    margin: 0 auto 0;
}

.tag {
    --background-color-h: 31 !important;
    --background-color-s: 100% !important;
    --background-color-l: 66% !important;
    border-radius: 100rem;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    size-adjust: 90%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    size-adjust: 90%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 570px) {
    .tag {
        font-size: .7rem;
        padding: 6px 10px;
        height: unset;
    }
}



.list-entry {
    background-color: rgba(255, 255, 255, 0.04);
    height: unset;
    border-radius: 10px;
    margin: 0 auto;
    transition: 250ms ease background-color;
}

.list-entry.action {
    cursor: pointer;
}

.list-entry.entry-alert {
    background-image: linear-gradient(270deg, rgba(143, 27, 27, 0.2) 0%, rgba(143, 27, 27, 0) 51.9%);
}

@media (prefers-color-scheme: light) {
    .list-entry {
        color: var(--on-card-background);
        background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
        --background-color-h: var(--color-grayscaled-hue);
        --background-color-s: var(--color-grayscaled-saturation);
        --background-color-l: var(--color-grayscaled-lightness);
    }
}

.list-entry.action:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.list-entry img {
    height: 109px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.meta-data {
    height: 54px;
}

.subtitle {
    opacity: 69%;
}

.action-bar {
    cursor: default;
}

.history-entry {
    opacity: 60%;
    cursor: pointer;
}

.history-entry:hover {
    opacity: 70%;
}

.history-entry .webgen-icon {
    margin: 0 .5rem;
}

.image-edit {
    display: grid;
    cursor: pointer;
}

.image-edit img {
    width: 95%;
    border-radius: 20%;
}

.image-edit.small img {
    border-radius: 10%;
}

.image-edit .wiconbutton {
    border-radius: 100%;
    justify-self: flex-end;
    margin-top: -1.7rem;
    width: unset;
    aspect-ratio: 1 / 1;
}

.image-edit .wiconbutton span {
    font-size: 19px;
}

.settings-form {
    justify-content: center;
}