:root {
    --main-color: #37517e;
    --bbn-primary: #37517e;
    --bbn-secondary: hsla(31, 100%, 66%, 1);
}

body {
    color: var(--on-background-text);
}

a.action {
    color: var(--main-color);
    padding: .5rem 0.65rem;
    line-height: 1;
    margin-right: 0.3rem;
    border-radius: 100rem;
    display: inline-block;
    background-color: var(--background-color);
    transition: background-color 150ms ease, color 150ms ease;
}

a.action:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f3f5fa !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #4973bd;
    }
}

card.modern .title {
    font-size: 1.5rem;
}

card.modern span.description {
    font-size: 1rem;
}

cardlist {
    padding: 0 1rem;
}

.service-box {
    display: block;
    grid-column: span 2;
    grid-row: span 2;
}

.services,
.scoped-size {
    margin: 0 auto;
    max-width: 69rem;
}

.link {
    cursor: pointer;
    margin: 0.1rem 0 0 0.2rem;
    padding: 0 .2rem;
    height: 20px;
}

.limited-width {
    max-width: 80rem;
    width: calc(100% - 2rem);
    margin: 0 auto 0;
}

.wtags .wbutton {
    --background-color-h: 31 !important;
    --background-color-s: 100% !important;
    --background-color-l: 66% !important;
}

.list-entry {
    background-color: rgba(255, 255, 255, 0.04);
    height: unset;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: 250ms ease background-color;
}

.list-entry.action {
    cursor: pointer;
}

.list-entry.entry-alert {
    background-image: linear-gradient(270deg, rgba(143, 27, 27, 0.2) 0%, rgba(143, 27, 27, 0) 51.9%);
}

@media (prefers-color-scheme: light) {
    .list-entry {
        color: var(--on-card-background);
        background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
        --background-color-h: var(--color-grayscaled-hue);
        --background-color-s: var(--color-grayscaled-saturation);
        --background-color-l: var(--color-grayscaled-lightness);
    }
}

.list-entry.action:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.image-preview .wimage {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    height: 100%;
}

.list-entry .image-preview .wimage {
    height: 109px;
}

.list-entry .action-item {
    display: contents;
}

.list-entry .action-item .loading {
    position: relative;
    width: 1.5rem;
}

.meta-data {
    min-height: 54px;
}

.subtitle {
    opacity: 69%;
}

.action-bar {
    cursor: default;
    grid-template-columns: auto max-content;
}

.history-list {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: start;
    white-space: nowrap;
}

.history-entry {
    opacity: 60%;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.history-entry.mobile {
    justify-content: start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.history-entry .label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.history-entry:hover {
    opacity: 70%;
}

.history-entry:not(.mobile) .wicon {
    margin: 0 .5rem;
}

.history-entry.mobile .wicon {
    font-size: 1.5rem;
    margin-left: -0.4rem;
}

.action-bar .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.action-bar .category-list {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    justify-content: start;
    padding-bottom: 1px;
}

.settings-form {
    justify-content: center;
}

.justify-content-center {
    justify-content: center;
}

.wbutton ul {
    max-height: 14rem;
    overflow: auto;
}

.contents {
    display: contents;
}

.upload-image {
    position: relative;
}

.upload-image .wimage {
    height: 12rem;
    aspect-ratio: 1/1;
}

.border-box {
    box-sizing: border-box;
}

.upload-image .wiconbutton {
    position: absolute;
    top: .4rem;
    right: .4rem;
    transform: translate(50%, -50%) scale(0.8);
    border-radius: 100%;
    padding: 1px 0 2px 1px;
}

.error-message {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
}

.error-message.hidden-message {
    display: none;
}

.same-height {
    line-height: 1;
}

/**
 * Safari Hack: Custom Style for sliders.
 * Why? Chromes Firefox and Edge have now usable sliders! Except Safari. so yeah fuck it.
 */
@supports (-webkit-appearance: -apple-pay-button) {
    .wslider {
        -webkit-appearance: none;
        background: transparent;
        height: 16px;
    }

    .wslider::-webkit-slider-runnable-track {
        position: relative;
        width: 100%;
        background: rgb(190, 190, 190);
        height: 8px;
        border-radius: 10px;
    }

    .wslider::-webkit-slider-thumb {
        margin-top: -5px;
        color: blue;

    }
}

.wtable .wbutton.low-level:has(ul.open) {
    z-index: 10;
}

.list-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 22px;
    font-weight: 700;
    font-size: 23.17px;
}

.image-square {
    height: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.small .image-square {
    height: 44px;
}

.image-square .wimage {
    height: 100%;
    width: 100%;
}

.mobile-navigation {
    margin: 1rem auto 1rem;
}

.navigation {
    margin: 5rem auto 1rem;
}