body{color:#fff;margin:0}
h1{font-size:3.8rem;letter-spacing:-.1rem;line-height:1.2}
.btn,input{border-radius:5px;color:#fff;display:inline-block;line-height:38px;margin:.5em;padding:0 30px;text-decoration:none;white-space:nowrap}
.btn.wet-asphalt.wet-asphalt{background-color:#34495e}
.discord{background-color:#7289da}
.github{background-color:#292d32}
.hover{transition:transform 200ms ease;-webkit-transition:transform 200ms ease;-ms-transition:transform 200ms ease;-moz-transition:transform 200ms ease;-o-transition:transform 200ms ease}
.hover:hover{transform:translateY(-0.5em)}
.center-object{align-items:center;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;top:0;vertical-align:middle;width:100%}
.fullscreen{background-color:#181818}
.background{background-position:center;background-size:cover;filter:blur(5px) brightness(50%);height:100%;width:100%}
.me{align-items:center;display:flex;flex-direction:column;height:auto;padding:1rem 0;z-index:10}
.me.unset{flex-direction:unset}.me.unset
.image-title{margin-right:.25em}.me.unset
.image-title{height:9em;width:9em}.me
.title{font-size:4.3rem;letter-spacing:1px;margin:.25em;font-family: sans-serif;}
