.list-title {
    margin: 0 auto;
    padding-top: 22px;
    font-weight: 700;
    font-size: 23.17px;
}

.unset-height {
    height: unset !important;
}

.entry-subtitle {
    color: rgb(255 255 255 / 80%);
}

.under-review {
    background-color: #BCBCBC;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10rem;
    font-weight: 700;
    font-size: 15px;
    padding: 0.2rem 0.8rem;
    margin: 0 2rem;
}

@media (max-width: 700px) {
    .action-bar {
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }

    .action-bar>.vertical-stack:last-child {
        flex-direction: row;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .list-entry {
        gap: 18px !important;
    }

    .list-entry img {
        height: 75px;
    }
}

img.small-preview {
    height: 2.2rem;
    border-radius: 3px;
    margin: 0 0.4rem 0 0;
}

.explainer-text {
    display: block;
    text-align: center;
    padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(360deg, #00000000, #f19d2d2b);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
}