.list-entry {
    background: rgba(255, 255, 255, 0.04);
    height: unset;
    border-radius: 10px;
    margin: 0 auto;
    transition: 250ms ease background;
    cursor: pointer;
}

.list-entry:hover {
    background: rgba(255, 255, 255, 0.07);
}

.list-entry img {
    height: 109px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.list-title {
    margin: 0 auto;
    padding-top: 22px;
    font-weight: 700;
    font-size: 23.17px;
}

.unset-height {
    height: unset !important;
}

.entry-subtitle {
    color: rgb(255 255 255 / 80%);
}

.under-review {
    background-color: #BCBCBC;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10rem;
    font-weight: 700;
    font-size: 15px;
    padding: 0.2rem 0.8rem;
    margin: 0 2rem;
}