:root {
    --color-colored-hue: 31deg !important;
    /** TODO: Fix me */
}

body {
    background-color: var(--bbn-primary);
}


/*
TODO: FIX ME
*/
.winput span {
    padding: 10px 10px 18px;
}

.winput.has-value span {
    padding: 5px 11px 0;
}

.line-header {
    line-height: 94px;
}

.background-image {
    position: fixed;
    right: -3rem;
    width: 60%;
    bottom: -5rem;
}

.prefix-logo {
    position: absolute;
    left: .7rem;
    width: 1.2rem;
}