nav {
    color: white;
    font-weight: 500;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 0 1rem;
    user-select: none;
    background: #37517e;
}

nav.settings {
    background: transparent;
}

nav.music {
    background: linear-gradient(166deg, #F19D2D 6.59%, #DB5721 101.73%);
}

nav.hosting {
    background: linear-gradient(184.32deg, #28A9F1 -11.55%, #5495E1 86.12%);
}

@media (max-width: 800px) {
    nav.music {
        background: linear-gradient(166deg, #F19D2D 6.59%, #db7621 101.73%);
    }
}

nav>div {
    max-width: 69rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

nav img {
    height: 1.7rem;
    margin-top: 0.05rem;
}

nav .wbutton {
    font-weight: 500;
    font-size: 1rem;
    padding: 0 0.7rem;
    /* TODO: Clean up this */
    --color-grayscaled-inline-font: white;
}

nav .wbutton.normal.contact {
    border: 2px solid #47b2e4;
    background: transparent;
    color: white;
    border-radius: 100px;
    font-size: 14px;
    padding: 6px 25px 7px;
    transition: box-shadow 0.3s, background-color 0.3s;
    height: unset;
    line-height: 1.5;
}

nav .wbutton.contact:is(:hover, :focus) {
    background: #47b2e4;
}

@media(max-width:780px) {
    nav .wbutton {
        padding: 0 0.5rem;
        font-size: 0.8rem;
    }

    nav .contact {
        padding: 4px 9px;
        border-width: 1.5px;
    }
}

@media(max-width:780px) {
    nav img {
        height: 1.3rem;
    }

    nav>div {
        height: 2.5rem;
        gap: 1.2rem;
        font-size: .8rem;
    }

    nav .wbutton.normal.contact {
        padding: 4px 8px;
        font-size: .7rem;
    }
}

@media(max-width:530px) {
    nav>div .wbutton {
        display: none;
    }

    .profile-picture {
        margin-right: -0.4rem;
    }
}

@media(max-width:360px) {
    nav {
        position: absolute;
    }
}

.profile-picture {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 800;
}


nav.email-banner {
    top: 0;
    background: black !important;
    padding: .5rem 1rem;
}

nav.email-banner a {
    padding: 0.1rem 0.4rem;
}

.drop-over {
    position: absolute;
    left: 0;
    top: 0;
    background: #212121;
    border-radius: 0.3rem;
    padding: .4rem .8rem;
    transform: scale(0.5) translate(-30%, -300%);
    opacity: 0.1;
    width: 100%;
    max-width: 15rem;
    transition: opacity 100ms ease;
    outline: none;
}

.drop-over:focus,
.drop-over:focus-within,
.drop-over.open {
    opacity: 1;
    display: block;
    transform: scale(1) translate(0, 0);
}

.drop-over .title {
    font-size: 0.7rem;
    font-weight: 900;
    opacity: .8;
}

.drop-over img {
    height: 1.4rem;
}

.drop-over .small-entry {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: .1rem 0;
}

.drop-over .small-entry:hover {
    opacity: 0.8;
}

.drop-over .small-entry .webgen-icon {
    font-size: 0.9rem;
    margin-left: 2rem;

}

.drop-over .small-entry.settings {
    margin-top: .8rem;
    font-size: 0.9rem;
}

.clickable {
    cursor: pointer;
}