nav {
    color: white;
    font-weight: 500;
    background: #37517e;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
nav div {
    gap: 1.7rem;
    display: grid;
    grid-template-columns: auto repeat(7, max-content);
    height: 4.5rem;
    max-width: 69rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
    align-items: center;
}
nav img {
    height: 1.3rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a.button {
    border: 2px solid #47b2e4;
    border-radius: 100px;
    padding: 6px 25px 7px;
    transition: background-color .3s;
    line-height: 1.5;
    font-size: 14px;
}
nav a.button:hover {
    background-color: #47b2e4;
}