nav {
    color: white;
    font-weight: 500;
    background: #37517e;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 0 1rem;
}
nav div {
    gap: 1.7rem;
    display: grid;
    grid-template-columns: auto repeat(7, max-content);
    height: 4.5rem;
    max-width: 69rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
nav img {
    height: 1.7rem;
    margin-top: .3rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a.button {
    border: 2px solid #47b2e4;
    border-radius: 100px;
    padding: 6px 25px 7px;
    transition: background-color .3s;
    line-height: 1.5;
    font-size: 14px;
}
nav a.button:hover {
    background-color: #47b2e4;
}

@media(max-width:780px) {
    nav img {
        height: 1.1rem;
    }
    nav div {
        height: 3.5rem;
        gap: 1.2rem;
        font-size: .8rem;
    }
    nav a.button {
        border: 1px solid #47b2e4;
        padding: 5px 12px 6px;
        line-height: 1.2;
        font-size: 11px;
    }
}

@media(max-width:780px) {
    nav img {
        height: 1.1rem;
    }
    nav div {
        height: 3.5rem;
        gap: 1.2rem;
        font-size: .8rem;
    }
    nav a.button {
        border: 1px solid #47b2e4;
        padding: 5px 12px 6px;
        line-height: 1.2;
        font-size: 11px;
    }
}
@media(max-width:530px) {
    nav div {
        gap: 1rem;
        font-size: .8rem;
        grid-template-columns: auto repeat(5, max-content);
    }
    nav a.button, nav a:nth-child(2) {
        display: none;
        visibility: hidden;
        margin-right: -1rem;
    }
}

@media(max-width:360px) {
    nav {
        position: absolute;
        overflow: hidden;
    }
}