.opener {
    height: 33.7rem;
    display: inline-grid;
    margin-top: 4.5rem;
    grid-template-columns: 1fr 1fr;
    background: var(--main-color);
    position: relative;
    align-items: center;
    gap: 2rem;
}
.opener::before, .opener::after {
    content: '';
    position: absolute;
    right: 100%;
    width: 100%;
    height: 33.7rem;
    background: var(--main-color);
}
.opener::after {
    right: unset;
    left: 100%;
}
.opener img {
    width: 100%;
}

.opener div span {
    display: block;
}
.opener div span:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0 0 10px;
}
.opener div span:nth-child(2) {
    color: rgba(255,255,255,.6);
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.opener a {
    background: #47b2e4;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    margin: 10px 0 0;
    padding: 10.5px 28px 11px;
}