.opener-background {
    background: #37517e;
    position: relative;
    padding: 0 1rem;
}

.opener {
    max-width: 69rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.opener img {
    width: 100%;
}

.opener div span {
    display: block;
}

.opener div span:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0 0 10px;
}

.opener div span:nth-child(2) {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.opener a {
    background: #47b2e4;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    margin: 10px 0 0;
    padding: 10.5px 28px 11px;
}

@media(max-width:950px) {
    .opener div span:nth-child(1) {
        font-size: 40px;
        line-height: 1.2;
    }

    .opener div span:nth-child(2) {
        font-size: 19px;
        margin-bottom: 2rem;
    }

    .opener a {
        font-size: 13px;
        margin: 0;
        padding: 8px 23px;
    }
}

@media(max-width:580px) {
    .opener {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .opener img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}

@media(max-width:300px) {
    .opener {
        overflow: hidden;
    }

    .opener div span:nth-child(1) {
        font-size: 30px;
        line-height: 1.1;
    }

    .opener div span:nth-child(2) {
        font-size: 15px;
        margin-bottom: 1rem;
    }
}