.opener-background {
    background: #37517e;
    position: relative;
    margin-top: 4.5rem;
}
.opener {
    max-width: 69rem;
    width: 100%;
    margin: 0 auto;
    height: 33.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.opener img {
    width: 100%;
}

.opener div span {
    display: block;
}
.opener div span:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0 0 10px;
}
.opener div span:nth-child(2) {
    color: rgba(255,255,255,.6);
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.opener a {
    background: #47b2e4;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    margin: 10px 0 0;
    padding: 10.5px 28px 11px;
}

@media(max-width:780px) {
    .opener-background {
        margin-top: 3.5rem;
    }
}