.partner-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 69rem;
    margin: 2.3rem auto 0;
    padding: 0 1rem;
}
.partner-List * {
    height: 64px;
}

@media (prefers-color-scheme: dark) {
    .partner-List img:nth-child(2) {
        filter: invert();
    }
}