.team {
    display: grid;
    grid-template-columns: 10rem auto;
    padding: 1.9rem 2rem;
    gap: 1.8rem;
    width: 100%;
}
.team span {
    display: block;
}
.team span:nth-child(1) {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--main-color);
}
.team span:nth-child(2) {
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--on-card-subtext)
}
.team span:nth-child(2)::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team img {
    border-radius: 100%;
    width: 100%;
    background: lightgray;
}

@media(max-width:900px) {
    .team {
        grid-template-columns: 7rem auto;
    }
}

@media(max-width:460px) {
    .team {
        grid-template-columns: 6rem auto;
        padding: 1.4rem 1rem;
        gap: 1.3rem;
    }
}

@media(max-width:270px) {
    .team {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .team img {
        width: 30%;
    }
}