.details-item {
    padding: calc(var(--gap) * .5) calc(var(--gap) * 0.8);
    width: 100%;
}

.details-grid {
    justify-content: center;
}

.full-width {
    grid-column: 1 / -1;
}

.dialog-max-width {
    max-width: 30rem;
    gap: var(--gap);
}