.file-item {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: start;
    gap: 10px;
}

.file-item .wicon {
    background: rgb(255 255 255 / 12%);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.file-item .title {
    font-size: 19.6px;
    padding: 0;
}

.file-item .subtitle {
    font-size: 13.6px;
}

.file-item .basic-text {
    align-content: center;
}

.drop-area {
    transition: scale 150ms ease;
}

.drop-area.hovering {
    outline: 5px solid blue;
    outline-offset: 7px;
    border-radius: 5px;
    scale: 1.02;
}

.small-text .title {
    font-size: 19.6px;
    padding: 0;
}

.loading-box {
    position: relative;
    width: 0;
    transition: all 200ms ease;
    height: 15px;
    z-index: -1;
    scale: 0.7;
    opacity: 0;
}

.loading-box.loading {
    width: 20px;
    opacity: 1;
    transition: all 300ms ease 400ms;
}

.path-bar {
    grid-auto-flow: column;
    height: 34px;
    align-items: center;
    justify-content: start;
}

.path-bar .wbutton {
    height: 25px;
    padding: 0 10px;
    border-radius: 8px;
    margin-right: 5px;
}

.text-align-right {
    text-align: right;
}

.read-only-path {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: #ffd42e;
    margin: 12px 0 0;
}