.title-server {
    line-height: 15px;
    padding-top: 8px;
}

.icon-buttons-list {
    z-index: 2;
}

.icon-buttons-list .wiconbutton {
    background-color: transparent;
    color: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    transition: background-color 250ms var(--jump-ani);
    padding: .4rem;
    border-radius: 10px;
}

.icon-buttons-list .wiconbutton .wicon {
    font-size: 2rem;
}

.wiconbutton:active {
    transform: translate(0, 1px);
}

.icon-buttons-list .wiconbutton:is(:hover, :focus) {
    box-shadow: none;
    background-color: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.color-green {
    --color-colored-hue: 95deg;
    --color-colored-saturation: 1000%;
    --color-colored-lightness: 39%;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 10rem;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.dot.running {
    background-color: #2dc937;
}

.dot.starting {
    background-color: #99c140;
    animation: pulse 300ms ease infinite;
}

.dot.stopping {
    background-color: #db7b2b;
    animation: pulse 300ms ease infinite;
}

.dot.offline {
    background-color: #cc3232;
}

.dot.installing {
    background-color: #2e2e2e;
    animation: pulse 300ms ease infinite;
}

.action-list .wiconbutton {
    width: 39px;
}

.action-list .loading {
    width: 51px;
    height: 50px;
}