.title-server {
    line-height: 15px;
    padding-top: 8px;
}

.icon-buttons-list .wiconbutton {
    background-color: transparent;
    color: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    transition: background-color 250ms var(--jump-ani);
    padding: .4rem;
    border-radius: 10px;
}

.icon-buttons-list .wiconbutton .webgen-icon {
    font-size: 2rem;
}

.wiconbutton:active {
    transform: translate(0, 1px);
}

.icon-buttons-list .wiconbutton:is(:hover, :focus) {
    box-shadow: none;
    background-color: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.color-green {
    --color-colored-hue: 95deg;
    --color-colored-saturation: 1000%;
    --color-colored-lightness: 39%;
}