<!DOCTYPE html>
<html lang="en">

<head>
    <title>BBN Holding - Imprint</title>

    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <h2><strong>Imprint</strong></h2>
        <p><b>BBN Holding Inc.</b>
            <br>270 Trace Colony Park Dr, Suite B<br>
            Ridgeland - MS 39157<br><br>
            E-Mail: <a href="mailto:support@bbn.one">support@bbn.one</a><br><br>
        </p>
        <p><a href="privacy.html" class="internal-link"><b>Privacy Policy</b></a><sub></sub><sup></sup></p>
        <p><a href="terms.html" class="internal-link"><b>Terms of Use</b></a><sub></sub><sup></sup></p>
        <h3><span><strong>Contents</strong></span></h3>
        <p><span>BBN Holding regularly examines and updates the contents of this website. However we give no guarantee for the accuracy, completeness, timeliness or reliability of the information provided and are not liable for claims resulting directly or indirectly from flawed or erroneous information.</span></p>
        <p><span>In order to offer our customers additional information we occasionally provide links to other websites. We herewith state explicitly that we have no influence on the set-up, the timeliness or the contents of linked pages. For this reason we distance ourselves expressly from all contents on the pages linked with this Homepage and disclaim all forms of liability for these as well. We are not aware of any content which is illegal, objectionable or contrary to the rules of fair competition. Please inform BBN Holding if you believe that a linked page infringes upon these principles.</span></p>
        <h3><span><strong>Netiquette and Site Guidelines</strong></span></h3>
        <p><span>For many years, BBN Holding strives to provide helpful and relevant information on the BBN Holding company website. BBN Holding also shares news and information about latest events on maritime&nbsp;websites or social platforms like LinkedIn. We are happy to connect with you and read your feedback!</span></p>
        <p><span>Please keep in mind: comments should be relevant and on-topic. Inappropriate or offensive comments, and in particular those that contain false&nbsp;/ misleading information or that engage in personal attacks (and similar), may be deleted.</span></p>
        <p><span>In case of any questions, please send us an e-mail: <a href="mailto:support@bbn.one">support@bbn.one</a></span></p>
        <h3><span><strong>Copyrights/Trademark rights</strong></span></h3>
        <p><span>All rights to the texts, photos, graphics, video files and other objects on these Internet pages are protected by copyright. Their download, reproduction or use in other media or publications requires our written consent. All rights to all of the trademarks on this page belong exclusively to the owners of these trademarks.</span></p>
    </div>
    <script src="imprint.js" type="module"></script>
    <link rel="stylesheet" href="imprint.css">

</body>

</html>