<!DOCTYPE html>
<html lang="en">

<head>
    <title>BBN Holding - Leadership</title>
    <script defer data-domain="bbn.one" src="https://pl.bbn.one/js/plausible.js"></script>

    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='theme-color' content='#f55a00'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="leadership.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJVRR4X0D8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NJVRR4X0D8');
    </script>
</head>

<body>
    <script src="leadership.js" type="module"></script>
</body>

</html>