<!DOCTYPE html>
<html lang="en">

<head>
    <title>BBN Music - Settings</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='theme-color' content='#f55a00'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="settings.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJVRR4X0D8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        const token = atob(localStorage[ 'refresh-token' ]?.split(".")[ 1 ] ?? "");

        gtag('config', 'G-NJVRR4X0D8', {
            'user_id': token ? JSON.parse(token).userId : undefined
        });
    </script>
</head>

<body>
    <script src="settings.js" type="module"></script>
</body>

</html>