body {
    color: rgb(246, 246, 246);
}

.wpopover {
    --color-grayscaled-inline-font: black;
}

.fullscreen .wwizard {
    height: 100%;
    max-width: 69rem;
    width: calc(100vw - 32px);
    margin: 0 auto 0;
    box-sizing: border-box;
}

.fullscreen>div {
    min-height: 100vh;
    height: 100vh;
}

.fullscreen .wwizard .footer {
    padding: 60px 0;
}

.fullscreen .wwizard .footer .wbutton {
    width: 10rem;
}

body {
    background: linear-gradient(139.46deg, #F19D2D 6.59%, #DB5721 101.73%) no-repeat center center fixed !important;
}

nav.music {
    background: transparent;
}

.drop-area {
    display: flex;
    width: 100vw;
    max-width: 31rem;
    height: 100vh;
    max-height: 19rem;
    border-radius: 5px;
    border: 5px white dashed;
    align-items: center;
    justify-content: center;
}

.drop-area .vertical-stack {
    height: 100%;
}

.drop-area .image-source,
.drop-area .image-source div {
    display: contents;
}

.drop-area.hover {
    background: rgb(255 255 255 / 15%);
}

.drop-area .wimage {
    max-height: 60%;
    aspect-ratio: 1 / 1;
    height: 100%;
}

span.title {
    font-size: 19px;
    font-weight: 700;
}

.ending-title {
    font-size: 50px;
    font-weight: 800;
    max-width: 23rem;
    text-align: center;
    margin-bottom: 5rem;
}

.max-width {
    max-width: calc(100vw - 2rem);
}

.grid-area {
    max-width: 27.5rem;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 500px) {
    span.title {
        font-size: 1rem;
    }

    .fullscreen .wwizard .footer .wbutton {
        width: unset;
    }
}

.inverted-class .wgtable {
    width: calc(100vw - 32px);
    max-width: 50rem;
    --color-grayscaled-inline-font: black;
}

.wlayer-inner {
    z-index: -1;
}