.details-item {
    padding: calc(var(--gap) * .5) calc(var(--gap) * 0.8);
    border-radius: var(--border-radius);
    background: var(--background-card);
    color: var(--on-card-text);
}

card {
    box-shadow: var(--background-card);
    border-radius: var(--border-radius);
    background: var(--background-card);
    backdrop-filter: var(--backdrop-filter);
    color: var(--on-card-text);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}