.big-title {
    font-size: clamp(2rem, -16.4681rem + 59.5745vw, 5.5rem);
    font-weight: bold;
    display: block;
    text-align: center;
    text-align: balance;
    height: 518px;
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    place-items: end center;
    position: relative;
    overflow: hidden;
}

.big-title .background-image {
    position: absolute;
    inset: -0.5rem;
    --image: url('./resources/background.png');
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, #000 77.08%, #000 100%),
        var(--image) no-repeat center center;
    background-size: cover;
    filter: blur(4.5px);
}

[data-theme=light] .big-title .background-image {
    background:
        linear-gradient(180deg, rgba(243, 245, 250, 0.61) 0%, #F3F5FA 77.08%, #F3F5FA 100%),
        var(--image) no-repeat center center;
    background-size: cover;
}

@media (min-width: 1700px) {
    .big-title .background-image {
        --image: url('./resources/backgroundUltrawide.jpg');
    }

}

.big-title span {
    display: block;
    max-width: 590px;
    margin: 2.6rem 0;
    z-index: 1;
}

.section {
    height: 255px;
    display: grid;
    place-items: center;
    align-content: center;
}

/* background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, #000 77.08%, #000 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
filter: blur(4.5px); */
h2,
h3 {
    margin: 0;
}

.section h2 {
    font-size: 60px;
    font-weight: bold;
}

.section h3 {
    font-size: 20px;
    font-weight: bold;
    opacity: 70%;
}

.bbn-one-services {
    gap: 2rem;
}

.bbn-one-services .wimage img {
    height: 100%;
}

.service-card {
    transform-style: preserve-3d;
    border-radius: 1.875rem;
    height: 188px;
    min-width: 160px;
    display: grid;
    place-items: center;
    padding: 0 47px;
    cursor: pointer;

    --bg-start: #F19D2D;
    --bg-end: #DB5721;
    background: linear-gradient(0deg, #000000b5 0%, #000000b5 100%),
        linear-gradient(137deg, var(--bg-start) 0%, var(--bg-end) 100%);
}

.service-card.hosting {
    --bg-start: #28A9F1;
    --bg-end: #4A7BB5;

}

.service-card .wimage {
    transform: translateZ(20px)
}

.remove-text-clearance {
    margin-bottom: -1rem;
}

.bbn-one-services :is(.wimage, img),
.other-services-images :is(.wimage, img) {
    width: unset !important;
}

@media (max-width: 670px) {
    .bbn-one-services {
        gap: 1rem;
    }

    .service-card {
        padding: 0 2rem;
        height: 8rem;
        min-width: 5rem;
    }

    .service-card .wimage {
        height: 5rem;
    }

    .other-services-images {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 2rem;
    }
}

[data-theme=dark] {
    --background-color: #000;
}